input, textarea, select{
    height:40px;
    padding-left:15px;
    border:1px solid #acacac;
    width:100%;
}

input:focus, textarea:focus, select:focus{
    outline:none;
    border:1px solid #4d4c4c;
}
textarea{
    min-height: 100px;
    padding:13px;
}

.ant-form-item{
    margin-bottom: 10px;
}
h3{
    color:brown;
    text-align: center;
    font-size: large;
    font-weight: lighter;
    font-family:  'Nunito Sans', sans-serif;
    margin-top: 10px;
}
h2{
    margin-left: 20px;
}

