
/* flex related classes */
.flex{
    display:flex;
}

.flex-row{
    flex-direction: row;
}

.bgblck{
    background-color: black;
    color:#fff;
}
.flex-column{
    flex-direction: column;
}

.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}

.justify-end{
    justify-content: end;
}

.item-center{
    align-items: center;
}

.item-between{
    align-items: space-between;
}

.item-end{
    align-items: end;
}

/* margins */
.m1{
    margin:10px;
}

.m2{
    margin:20px;
}

.m3{
    margin:30px;
}

.mt1{
    margin-top:10px;
}

.mt2{
    margin-top:20px;
}

.mt25{
    margin-top:25em;
}
.mt3{
    margin-top:30px;
}

.mb1{
    margin-bottom:10px;
}

.mb2{
    margin-bottom:20px;
}

.mb3{
    margin-bottom:30px;
}

.mr1{
    margin-right:10px;
}

.mr2{
    margin-right:20px;
}

.mr3{
    margin-right:30px;
}

.ml1{
    margin-left:10px;
}

.ml2{
    margin-left:20px;
}

.ml3{
    margin-left:30px;
}

/* padding */

.p1{
    padding:10px 40px;
    align-items: center;
    justify-content: center;
}

.p2{
    padding:20px;
}

.p3{
    padding:30px;
}

.pt1{
    padding-top:10px;
}

.pt2{
    padding-top:20px;
}

.pt3{
    padding-top:30px;
}

.pb1{
    padding-bottom:10px;
}

.pb2{
    padding-bottom:20px;
}

.pb3{
    padding-bottom:30px;
}

.pl1{
    padding-left:10px;
}

.pl2{
    padding-left:20px;
}

.pl3{
    padding-left:30px;
}

.pr1{
    padding-right:10px;
}

.pr2{
    padding-right:20px;
}

.pr3{
    padding-right:30px;
}

/* gaps */

.gap1{
    gap:10px;
}

.gap2{
    gap:20px;
}

.gap3{
    gap:30px;
}
.tacenter{
    text-align: center;
}

.centerDivStyle{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 88px 0 88px 0;  
        background-color: black;
  }

  /* Button Admin Side   */
.btnAddMovie {
    background-color: #007bff; 
    color: #fff; 
    border: none; 
    border-radius: 4px; 
    padding: 20px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    margin-top: 20px;
    transition: background-color 0.3s; 
    text-align: center; 
    display: inline-block;
    text-decoration: none; 
  }

  .btnAddMovie:hover {
    background-color: #0056b3; 
  }
  
  .btnText {
    display: inline-block;
  }

.btnEditMovie {
    background-color: #0ed20e; 
    color: #fff; 
    border: none; 
    border-radius: 4px; 
    padding: 12px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    margin: 8px;
    transition: background-color 0.3s; 
    text-align: center; 
    display: inline-block;
    text-decoration: none; 
  }

  .btnEditMovie:hover {
    background-color: #086034; 
  }

.btnDeleteMovie {
    background-color: #d20e2b; 
    color: #fff; 
    border: none; 
    border-radius: 4px; 
    padding: 12px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s;
    text-align: center; 
    display: inline-block;
    text-decoration: none; 
  }

  .btnDeleteMovie:hover {
    background-color: #800713; 
  }

  .btnViewDetailsMovie{
    background-color: #3d2cdc; 
    color: #fff; 
    border: none; 
    border-radius: 4px; 
    padding: 12px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s;
    text-align: center; 
    display: inline-block;
    text-decoration: none; 
    margin-left: 5px;
  }

  .btnViewDetailsMovie:hover{
    background-color: #42179e; 
  }

  .imgsize {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
  .list-group-item {
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  .list-group-item h1 {
    font-size: 24px;
    margin-top: 0;
  }
  
  .list-group-item p {
    font-size: 16px;
    margin-bottom: 0;
  }
  
  .list-group-item:first-child {
    border-top-right-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
  }
  
  .list-group-item:last-child {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }

  .listpadding{
    padding-bottom: 120px;
  }
  
  

  
  
  