:root {
    --color-primary:#1a1a1a;
    --color-secondary:#acacac;
}

.bg-primary{
    background-color: var(--color-primary);
}

.bg-secondary{
    background-color: var(--color-secondary);
}

.text-primary{
   color: var(--color-primary);
}

.text-secondary{
    color: var(--color-secondary);
 }

 .textblack{
    color:#1a1a1a;
 }
 .textgray{
    color:#acacac
 }
 .textwhite{
    color:white;
 }

 .border-primary{
    border-color: var(--color-primary);
 }

 .border-secondary{
    border-color: var(--color-secondary);
 }